
<div class="span9">

<table>
	<tr>
		<td>
			<h3><%= @oneNews['title'] %></h3>
		</td>
	</tr>
	<tr class="break"></tr>
	<tr>
		<td>
			<%= simple_format @oneNews['desc'] %>
		</td>
	</tr>
	<tr class="break"></tr>
	<tr>
		<td><h4>Comments:</h4></td>
	</tr>
	<% for $comment in @oneNews['fbcm'].each do%>
		<tr class="oneComment">
			<td>
			<p><%= $comment %></p>
			</td>
		</tr>
	<% end %>
</table>
</div>

<%= form_tag submit_path, :method => 'post', :class=>'formbtn' do%>
	<input type="text" value="<%= @oneNews.id %>" name="newsid" style="display:none">
	<%= button_tag :蝦, :'data-value'=>'Shrimp', :class=>"btn btn-danger" %>
	<%= button_tag :不蝦, :'data-value'=>'notShrimp', :class=>"btn btn-success" %>
	<%= button_tag :我不知道, :'data-value'=>'donotKnow', :class => 'btn btn-inverse' %>
<% end %>
