<div class="container">
<div class="row">
	<div class="span10 offset1">
		<header class="hero-unit">
			<h2><span class="text-error">蝦新聞</span>標記系統</h2>
			<p>
			此篇問卷主要是請大家幫忙評論一篇新聞「蝦」或「不蝦」。
			純粹學術用途，也不會記名，請大家放心。</p>
			<p>
		</header>

		<div class="row">
			<div class="span7">
				<h3>啥毀係蝦？</h3>
				1. 讓讀者感覺<strong class="text-info">此篇新聞沒有存在之必要</strong>，讓人有「這樣也一篇」之感。</br>
				2. <strong class="text-info">新聞內容錯誤或是荒謬</strong>，讓人覺得記者沒搞清楚狀況未求證，素質低落待加強。</br>
				3. 任何讓你感到「<strong class="text-info">這好蝦！</strong>」的新聞。</br>
				</p>
			</div>
			<div class="span3">
				<%= image_tag 'shrimp.jpg', :style => 'margin-top: 55px' %>
			</div>
		</div>

		<p>
		下面是兩篇蝦新聞範例
		（當然，新聞如此多，大家各自主觀認定即可）
		</p>
		<p>
		<div class="row">
			<div class="span5">
				<%= link_to( image_tag("ex1.png"), "http://goo.gl/qYDvw", :target => '_blank', :class => 'thumbnail' )%>
				<p>（從留言可以看出報導與事實不符，記者看圖說故事）</p>
			</div>
			<div class="span5">
				<%= link_to( image_tag("ex2.png"), "http://goo.gl/hc8Zw", :target => '_blank', :class => 'thumbnail' )%>
			</div>
		</div>
		</p>

		<h3>
			評論方式
		</h3>
		<p>
			點選進入網站按鈕之後，會看到每一頁都是一篇新聞，按照<span class="text-info">標題、內文、評論</span>（包含fb評論以及若是有被轉到版上的推噓文）</br>
			請在左方三個大大地按鈕中選擇你覺得此篇新聞給你的感受如何：<span class="text-alert">蝦</span> / <span class="text-success">不蝦</span> / <span class="muted">我不知道</span>。
			（若無法評論請選「<span class="muted">我不知道</span>」，但就無法計入有效題數）</br>
			評論後頁面會自動跳出下一則新聞。</br>
			有效題數<strong class="text-info">五題</strong>可以到<a href="http://goo.gl/jjTcT" target="_blank">這裡</a>填寫ID，題數認定採自由心證 :)</br>
			問卷結束之後會抽一百二十人各100p，總共發一萬二批幣！
		</p>
		<p>
			你的每一篇評論都對我們相當重要！
		</p>
		<p>
		<%= link_to('進入網站', onePost_path, :class=>"btn btn-success enter")%>
		</p>
	</div>
</div>
</div>