// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn{
	margin-top: 20px;
	width: 100%;
	display: block;
	height: 27%;
	font-size: 300%;
}
.enter{
	width: 70%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.break{
	height:2px;
	background: rgb(179,179,179);
	margin-bottom: 20px;
	display: block;
}
.oneComment td{
	border-bottom: 1px solid rgb(179,179,179);
	// margin-top: 10px;
	padding-top: 10px;
}

.formbtn{
	position: fixed;
	height: 100%;
	width: 35%;
	right: 2%;
	top: 2%;
}

.exampleMain{
	// width: 75%;
	margin-left: auto;
	margin-right: auto;	
	padding-left:23%;
}

h3{
	margin-top: 34px;
}
p{
	margin: 0 0 18px;
}
.end{
	font-size: 80px;
	line-height: 1.1;
}